@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #f6f4e8;
}

header {
  background-color: #f6f4e8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;  
  padding: 0.75rem;
}

header .logo {
  height: 70%;
}

header nav ul{
  display: flex;
}

header nav ul li {
  margin: 0 1rem;
  font-size: 1.25rem;
}

h1 {
  font-size: 4rem;
}

h1,h2,h3 {
  margin: 0.5rem 0;
}

/* main */

main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

session {
  margin-bottom: 1.25rem;
  text-align: center;
}

.introduction {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)),url("../images/store.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction .flex-container {
  color: #fff;
  letter-spacing: 0.5rem;
  text-align: center;
  width: 70%;
}

 .box-container {
  display: flex;
  flex-wrap: wrap;  
}

 .box-container .box {
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  background-color: #bacec1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

session img {
  width: 80%;
  height: 80%;
}

footer {
  background-color: #1d3124;
  color: #fff;
  text-align: center;
}

footer h3 {
  margin: 0;
  padding: 1rem;
}

@media only screen and (max-width: 480px) {
  .box-container .box {
    width: 100%;
  }
}

